@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --main-color: #18dcff;
    --sub-color: #7158e2;
    --background-color: rgb(24, 23, 38); 

}

body{
    font-family: 'Source Code Pro', monospace;
    font-size: 1.1rem;
    transition: all .4s ease-in-out;
    overflow: hidden;
    background: var(--background-color) !important;
    color: white;
}



.controllers{
    position: fixed;
    top: 40%;
    right: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  


}

.control{
    background-color: rgba(128, 128, 128, 0.562);
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0.7rem 0;
    color: rgba(255, 255, 255, 0.336);
    
}


.control.active-btn{
    color: white;
   background-image: linear-gradient(to top, #88d3ce 0%, #6e45e2 100%);
}

i{
    pointer-events: none;
}


header{
    height: 100vh;
    background-color: white;
    overflow: hidden;

}

section{
    height: 100vh;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 3rem 18rem;

}


.section{
    display: none;
    /* transform: translateY(-100%) scale(0); */
    animation: transform 1s ease-in-out;
    
}


.sec1{
    background-color: var(--background-color);
    transform: translateY(0) scale(1);
}


/* .sec2{
    background-color: blue;
    transform: translateY(0) scale(1);
}

.sec3{
    background-color: white;
    transform: translateY(0) scale(1);
}

.sec4{
    background-color: black;
    transform: translateY(0) scale(1);
} */

.active{
    
    display: block;
    animation: scaleAnimation 1s ease-in-out;
}

@keyframes scaleAnimation {
    0%{
        transform: translateY(-100%) scaleY(0);
    }

    100%{
        transform: translateY(0) scaleY(1);
    }
    
}

.header-content{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    height: 100%;
}





.header-content .left-header{
    display: flex;
    align-items: center;
    position: relative;
    
}

.header-content .left-header .background-shadow{
    width: 100%;
    background-color: var(--main-color);
    position: absolute;
    height: 100vh;
    clip-path: polygon(0 0, 34% 0, 50% 100%, 0% 100%);
    z-index: -1;
    transition: all .4s ease-in-out;
    right: 0;
    top: 0;

}

.header-content .left-header .background-img{
    width: 50%;
    background-color: black;
    height: 90vh;
    border-radius: 10px;
    margin-left: 4rem;
    position: relative;
    overflow: hidden;
    

}

.background-img > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all .4s ease-in-out;
    filter: grayscale(100%);
}


.background-img :hover{
    filter: grayscale(0);
}

.right-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 15rem;
}

/* .right-header > h1{
    font-size: 3rem;
} */

.right-header h1 span{
    color: var(--main-color);
}


.right-header p{
    margin: 1rem 0;
}


.right-header h1{
    margin: 1rem 0;
}


.right-header .main-btn{
text-decoration: none;
border-radius: 30px;
color: white;
font-weight: bold;
position: relative;
border: solid 4px var(--main-color);
display: flex;
align-self: flex-start;
display: flex;
align-items: center;
overflow: hidden;
}


.right-header .main-btn .btn-text{
    padding: 0 2rem;
    z-index: 3;
}



.right-header .main-btn .btn-icon{
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 1.5rem;
    z-index: 3;
}

.btn-color {
    height: 100%;
    width: 30%;
    position: absolute;
    background: var(--main-color);
    right: 0;
    top: 0;
    padding-right: 20%;
    transform: translateX(0%);
    z-index: 2;
    transition: all 0.4s ease-in;
}

.btn-color:hover{
    background-color: var(--main-color);
    padding-right: 100%;
     transition: all 0.4s ease-in;
}