
.mydiv{
    background-color: blue;
    width: 30%;
    height: 20%;
    position: absolute;
    left: 135%;
    opacity: 0;
    transform: translateX(300%);
}

.mydiv.active{
    background-color: blue;
    width: 30%;
    height: 20%;
    position: absolute;
    left: 0;
    opacity: 1;
    transition: transform 1s ease-in;
    transform: translateX(-50%);
}

#outside{
    background-color: red;
    width: 30%;
    height: 50vh;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;

}

